<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="design.tutorials_19_0_2.dao.IUserDao">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="design.tutorials_19_0_2.po.User">
        SELECT id, name, age, createTime, updateTime
        FROM user
        where id = #{id}
    </select>

    <select id="queryUserList" parameterType="design.tutorials_19_0_2.po.User" resultType="design.tutorials_19_0_2.po.User">
        SELECT id, name, age, createTime, updateTime
        FROM user
        where age = #{age}
    </select>

</mapper>